@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* css variables */
:root {
    /* background colors */
    --pramiry-bg-color: #252B42;
    --second-bg-color: #00A0C1;
    --third-bg-color: #FFFFFF;
    --fourth-bg-color: rgba(0, 0, 0, 40%);
    --hover-color: #2A7CC7;

    /* text colors */
    --pramiry-text-color: #FFFFFF;
    --second-text-color: #737373;
    --third-text-color: #252B42;

    /* fonts */
    --pramiry-font: 'Montserrat', sans-serif;

    /* btn colors */
    --btn-color: #FFA62B;
}

/* btn designs */
.btn-primary,
.btn-primary-2 {
    padding: 10px;
    width: 180px;
    height: 44px;
    color: var(--btn-color);
    font-family: var(--pramiry-font);
    font-weight: 600;
    text-align: center;
    border: 1px var(--btn-color) solid;
    border-radius: 4px;
}

.btn-primary-2 {
    color: var(--pramiry-text-color);
    border: 1px var(--pramiry-text-color) solid;
}

.btn-secondary {
    width: 185px;
    height: 48px;
    background-color: var(--btn-color);
    color: var(--pramiry-text-color);
    font-family: var(--pramiry-font);
    font-weight: 600;
    border-radius: 37px;
    letter-spacing: 0.2px;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    padding-top: 10px;
}


.btn-secondary-2 {
    width: 185px;
    height: 48px;
    color: var(--pramiry-text-color);
    font-family: var(--pramiry-font);
    border: 1px var(--pramiry-text-color) solid;
    font-weight: 600;
    border-radius: 37px;
    letter-spacing: 0.2px;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    padding-top: 10px;
}

.btn-third {
    padding: 20px;
    width: 160px;
    height: 53px;
    background-color: var(--btn-color);
    color: var(--pramiry-text-color);
    font-family: var(--pramiry-font);
    font-weight: 600;
    text-align: center;
    border-radius: 4px;
    font-size: 20px;
}

.btn-newsletter {
    width: 117px;
    height: 58px;
    background-color: var(--btn-color);
    color: var(--pramiry-text-color);
    font-family: var(--pramiry-font);
    font-size: 14px;
    text-align: center;
    padding-top: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}





/* css html */
body {
    background-color: var(--pramiry-bg-color);
}

.container {
    max-width: 1440px;
    height: 785px;
    background: url(images/header/background.png);
}

.margin {
    margin-left: 195px;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    margin-left: 59px;
}

.logo {
    color: var(--pramiry-text-color);
    font-family: 'Montserrat', sans-serif;
    margin-left: 136px;
}

.next {
    display: flex;
    gap: 70px;
}

/* navigation */

.search{
    display: flex;
}
nav {
    display: flex;
    gap: 30px;
}

nav ul {
    display: flex;
    gap: 24px;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: var(--pramiry-text-color);
    font-family: var(--pramiry-font);
}
nav ul li a:hover{
    color: var(--hover-color);
}

#btn {
    width: 20px;
    height: 20px;
}

#btn-1 {
    width: 16px;
    height: 14.93px;
}

#vector {
    max-width: 24px;
    height: 13px;
    display: none;
}


/* section two */
.section-two {
    margin-left: 195px;
    display: flex;
}

.left-side {
    padding-top: 171.5px;
    width: 509px;
    height: 338px;

}

.right-side {
    position: absolute;
    right: 0;
}

.left-side h1 {
    font-size: 58px;
    font-family: var(--pramiry-font);
    color: var(--pramiry-text-color);
}

.left-side p {
    font-size: 20px;
    font-family: var(--pramiry-font);
    color: var(--pramiry-text-color);
    padding-top: 20px;
    padding-bottom: 20px;
}

.buttoms {
    display: flex;
    gap: 10px;
}

button{
    border: none;
    background: none;
}
button:active{
    background-color: var(--hover-color);
    opacity: 0.5;
    border-radius: 37px;
}


/* section three */
.section-three {
    width: 1140px;
    height: 475px;
    margin-left: 155px;
}

.choose {
    margin-top: 100px;
    font-family: var(--pramiry-font);
    color: var(--pramiry-text-color);
    text-align: center;
    font-size: 30px;
}

.choose p {
    padding-top: 17px;
    font-size: 14px;
    font-family: var(--pramiry-font);
}

.rows {
    padding-top: 80px;
    display: flex;
    gap: 30px;
}

.row-features-1 {
    width: 328px;
    height: 142px;
    background-color: var(--third-bg-color);
    text-align: center;
    padding-top: 30px;
    border-radius: 4px;
}

.row-features-1 h5 {
    font-family: var(--pramiry-font);
    color: var(--third-text-color);
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
}

.frist {
    background-color: var(--second-bg-color);
    color: var(--pramiry-text-color);
}

.frist h5 {
    color: var(--pramiry-text-color);
}

/* section four */
.section-four{
    width: 1140px;
    height: 529px;
    margin-left: 155px;
}
.features-2-flex{
    display: flex;
    gap: 30px;
    padding-top: 45px;
}

.features-2{
    width: 230px;
    height: 341px;
    background-color: var(--third-bg-color);
}

.text{
    width: 232px;
    height: 203px;
    padding: 30px;
}
image{
    max-width: 100%;
    height: 143px;
}
.text h5{
    color: var(--third-text-color);
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 15px;
    font-family: var(--pramiry-font);
}
.text p{
    color: var(--third-text-color);
    font-size: 14px;
    font-family: var(--pramiry-font);
}

/* section five */

.section-five{
    width: 1140px;
    height: 680px;
}

.part-two{
    width:1050px;
    margin-left: 195px;
}

.card-business{
    display: flex;
    padding-top: 50px;
}

.card-image{
    width: 465px;
    height: 442px;
}
.card-image img{
    width: 100%;
    height: auto;
}

.card-text{
    width: 420px;
    height: 438px;
    color: var(--pramiry-text-color);
    padding-left: 120px;
    font-family: var(--pramiry-font);
    font-size: 25px;
}
.card-text p{
    font-size: 14px;
}

.img-text{
    padding: 30px 0 60px 0;
    display: flex;
    gap: 20px;
    width: 285px;
    height: 77px;
}
.qoraal{
    font-size: 16px;
    width: 286px;
    height: 77px;
}
.qoraal h6{
    padding-top: 10px;
    font-size: 14px;
}


/* section six */

.section-6{
    width: 1140px;
    height: 339px;
    padding-left: 195px;
}
.brands {
    width: 1050px;
    height: 175px;
}
.brands img{
    width: 153px;
    height: auto;
    padding: 30px;
}

.card-newsletter{
    width: 986px;
    height: 124px;
    background-color: var(--second-bg-color);
}
.h3{
    width: 301px;
    height: 64px;
    font-family: var(--pramiry-font);
    font-size: 24px;
    font-weight: 600;
    color:var(--pramiry-text-color);
}

.mail{
    width: 450px;
    height: 58px;
    display: flex;
}
.newsletter{
    display: flex;
    justify-content: space-between;
    padding: 35px;
}
input{
    width: 333px;
    height: 58px;
    padding: 20px;
    font-family: var(--pramiry-font);
    font-size: 14px;
    color: var(--second-text-color);
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}

/* section seven */

.section-7{
    width: 1140px;
    height: 700px;
    padding-left: 195px;
}

.support{
    padding-top: 80px;
    display: flex;
}
.call {
    width: 327px;
    height: 333px;
    background-color: var(--third-bg-color);
    font-family: var(--pramiry-font);
    color: var(--third-text-color);
    text-align: center;
    line-height: 15px;
    padding: 50px 40px;
    margin-top: 50px;
}
.call h6{
    padding: 15px;
}
.call h5{
    padding-bottom: 15px;
}

.call-2{
    width: 328px;
    height: 393px;
    background-color: var(--second-bg-color);
    color: var(--pramiry-text-color);
    padding: 80px 40px;
    margin-top: 16px !important;
}
.call button:active{
    background-color: var(--hover-color);
    opacity: 0.5;
    border-radius: 5px;
}

/* section eight */

.section-8{
    width: 1140px;
    height: 110px;
    padding-left: 195px;
}
.agency{
    width: 950px;
    height: 142px;
    display: flex;
    justify-content: space-between;
    font-family: var(--pramiry-font);
    color: var(--pramiry-text-color);
}
.agency-text p{
    font-size: 14px;
    padding-top: 10px;
}
.agency button{
    height: 53px;
}
.agency button:active{
    background-color: var(--hover-color);
    opacity: 0.5;
    border-radius: 5px;
}

/* Section Nine */
.section-9{
    width: 1349px;
    height: 272px;
    padding-left: 195px;
    background-color: var(--second-bg-color);
    font-family: var(--pramiry-font);
    color: var(--pramiry-text-color);
}
.footer{
    padding: 50px 0;
    display: flex;
    gap: 30px; 
}
.company-info{
    width: 152px;
    height: 172px;
}
.company-info h5{
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 20px;
}
.company-info ol ul{
    font-weight: 600;
    font-size: 14px;
    padding-bottom: 10px;
}
.company-info ol ul a{
    color: var(--pramiry-text-color);
    text-decoration: none;
}
.company-flex ol ul{
    display: flex;
    gap: 10px;
    align-items: center;
}

/* footer */
footer{
    width: 1349px;
    height: 74px;
    padding-left: 195px;
}

.social-media{
    width: 1050px;
    height: 74px;
    font-family: var(--pramiry-font);
    font-size: 16px;
    color: var(--pramiry-text-color);
    padding: 25px;
    display: flex;
    justify-content: space-between;
}

.social-icons img{
    margin-right: 20px;
}



/* mobiles screen */
@media only screen and (max-width: 900px){
    .logo {
        color: var(--pramiry-text-color);
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
    }

    header{
        width: 10%;
        padding: 50px;
        display: flex;
        justify-content: space-around;
    }

    .next {
        display: flex;
        gap: 10px;
    }

    .search{
        display: flex;
        gap: 10px;
        padding: 4px;
    }
    #btn{
        width: 24px;
        height: 24px;
    }
    #btn-1{
        width: 24px;
        height: 22.4px;
    }
    /* navigation */

    nav {
        display: flex;
        gap: 10px;
    }
    
    nav ul {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 100px 0 0 50px;
        font-size: 30px;
        
    }
    
    nav ul li {
        list-style-type: none;
    }
    
    nav ul li a {
        text-decoration: none;
        color: var(--pramiry-text-color);
        font-family: var(--pramiry-font);
    }
    nav ul li a:hover{
        color: var(--hover-color);
    }
}